#navbar{
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
}
.mainlinks{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.mainlinks a{
    display: flex;
    justify-content: flex-start;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 2s;
}
.mainlinks a:hover{
    background-color: black;
}
.mainlinks a.active{
    background-color: green;
}
.mainlinks a, .mainlinks a:hover, .mainlinks a.active{
    color: white;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid red 2px;
}
.products img{
    width: 400px;
}
.translate{
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.translate img{
    width: 100px;
    height: 50px;
}
.translate:hover #englishflag{
    transform: translateY(100%);
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: solid 10px;
}
.navigation:hover .dropdown-content{
    display: block;
}
.allproducts{
    display: flex;
    justify-content: space-between;
}
.mainlinks{
    display: flex;
    flex-direction: row;
}
.logodesign{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 50%;
}
#englishflag{
    position: absolute;
    left: 0px;
    transition: transform 3s;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.dropdown {
    position: relative;
    display: inline-block;
    color: #f2f2f2;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
@media screen and (max-width: 1000px) {
    #navbar{
        background-color: grey;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: sticky;
        top: 0;
        flex-direction: column;
        width: 20%;
        height: 100%;
    }
    .logodesign {
        display: flex;
        flex-direction: column;
    }
    .translate {
        display: flex;
        justify-content: flex-start;
        position: relative;
        background-color: red;
        flex-direction: column;
    }
    .mainlinks {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
}